
/****************************************/
div.BannersDisplayer
{
    /* margin-left: 0px;
    margin-top: 0px; */
    width: 1100px;
    height: auto;
    background-color:silver;
}

div.Banner
{
    border: 1px solid darkblue;
    width: 1098px;
    height: 400px;   
}








